.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: none;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    background-color: $color-primary-dark;
  }

  &:focus {
    outline: none;
    transform: translateY(-0.3rem);
    box-shadow: 0 0.6rem 1rem rgba(#000, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.6rem 1rem rgba(#000, 0.2);
  }
}
