.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  position: relative;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }

  &__navigation {
    display: none;
    width: 0;
    transition: all 0.2s;
  }

  &__list {
    // display: none;
    list-style: none;
    font-size: 2.4rem;
    color: #fff;
  }

  &__btn {
    border: none;
    border-radius: 0;
    position: fixed;
    background-color: transparent;
    width: 7rem;
    height: 7rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-large) {
      position: relative;
      margin-top: 0;
      margin-right: 3rem;

      &::before {
        transform: translateY(-1.2rem);
      }

      &::after {
        transform: translateY(1rem);
      }
    }
  }

  &__icon {
    margin-top: 4rem;
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      background-color: #fff;
      height: 0.2rem;
      width: 4.5rem;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before {
      top: -1.3rem;
    }

    &::after {
      top: 1.3rem;
    }
  }

  &__btn:hover &__icon::before {
    top: -1.5rem;
  }

  &__btn:hover &__icon::after {
    top: 1.5rem;
  }

  &__btn:focus ~ &__navigation {
    width: 100px;
  }
}
