.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  position: relative;
  justify-content: center;

  &__checkbox {
    display: none;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 240%;
      transition: all 0.5s;
      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
    }
  }
  &__nav {
    width: 0;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-top: 65px;
  }
  &__list {
    position: fixed;
    list-style: none;
    font-size: 2.4rem;
    color: #fff;
    transform: translateX(-200px);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__button {
    border: none;
    border-radius: 0;
    position: fixed;
    background-color: transparent;
    cursor: pointer;
  }
  &__icon {
    margin-top: 4rem;
    position: relative;
    &,
    &::before,
    &::after {
      display: inline-block;
      background-color: #fff;
      height: 0.2rem;
      width: 4.5rem;
      transition: all 0.2s;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }
    &::before {
      top: -1.3rem;
    }
    &::after {
      top: 1.3rem;
    }
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 200px;
    @media only screen and (max-width: $bp-largest) {
      width: 160px;
    }
  }
  &__checkbox:checked ~ &__nav &__list {
    transform: translateX(0);
  }
  &__button:hover &__icon::before {
    top: -1.5rem;
  }
  &__button:hover &__icon::after {
    top: 1.5rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
@media only screen and (max-width: $bp-large) {
  .sidebar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: flex-end;
    &__nav {
      width: 0;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      margin-top: 0;
      padding: 0;
    }
    &__list {
      position: relative;
      list-style: none;
      font-size: 2.4rem;
      color: #fff;
      transform: translateX(0);
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      display: grid;
      grid-template-columns: repeat(5, max-content);
    }
    &__button {
      border: none;
      border-radius: 0;
      position: absolute;
      background-color: transparent;
      cursor: pointer;
      z-index: 150;
    }
    &__icon {
      margin-top: 10px;
      margin-right: 10px;
      position: relative;
      &,
      &::before,
      &::after {
        display: inline-block;
        background-color: #fff;
        height: 0.2rem;
        width: 4.5rem;
        transition: all 0.2s;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
      }
      &::before {
        top: -1.3rem;
      }
      &::after {
        top: 1.3rem;
      }
    }
    &__checkbox:checked ~ &__nav {
      opacity: 1;
      padding: 20px 0;
      width: 100%;
    }
  }
}
@media only screen and (max-width: $bp-medium) {
  .sidebar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: flex-end;
    &__nav {
      width: 0;
      height: 0;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      margin-top: 0;
      padding: 0;
    }
    &__list {
      position: relative;
      list-style: none;
      font-size: 2.4rem;
      color: #fff;
      transform: translateX(0);
      transform: translateY(-200px);
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      display: grid;
      grid-template-columns: max-content;
      justify-content: center;
    }
    &__checkbox:checked ~ &__nav {
      opacity: 1;
      padding-bottom: 225px;
      width: 100%;
    }
    &__checkbox:checked ~ &__nav &__list {
      transform: translateX(0);
      transform: translateY(0);
    }
  }
}
